.test{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
}
.test-btn{
    font-weight: bold;
    display: inline-block;
    padding: 1rem;
    border: 3px solid white;
    transition: all 0.2s;
    margin-bottom: 3px;
    &:hover{
        background-color: rgb(177, 177, 35);
    }
}