#particles-js {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #928b82, #c5c0b7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding-top: 4rem;
}

.clouds {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, minmax(5rem, 1fr));
    margin-left: -3rem;
    transform: translateY(-4rem);
}

.sun,
.moon {
    position: absolute;
    right: 0;
    top: 0;
    height: 10rem;
    width: auto;
    z-index: -1;
}

.sunRay {
    position: absolute;
    top: 0%;
    right: 50px;
    height: 100%;
    pointer-events: none;
}

.cloud {
    margin-right: 4rem;
    width: 40rem;
}

.sprite {
    height: 200px;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 2rem;
}

.weatherInfo {
    @include absCenter;
    text-align: center;
}

.snowman {
    height: 100px;
    width: auto;
    position: absolute;
    bottom: 0;
    right: 2rem;
}

.dayTime {
    border: 3px solid #393e46;
    &:hover {
        background-color: #11999e;
    }
}
.day{
    color: #40514e;
}